.cloud-liu-outer {
  position: fixed !important;
  display: block;
  height: 26px;
  max-width: 240px;
  top: 90%;
  left: 10%;
  border: #7f7f7f 1px solid;
  background-color: rgb(192, 225, 255);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cloud-liu-preedit {
  display: inline-block;
  float: left;
  width: 60px;
  height: 20px;
  margin: 3px 3px;
  color: black;
  border-right: 1px solid;
}

.cloud-liu-candidates {
  display: inline-block;
  float: left;
  height: 20px;
  margin: 3px 3px;
}

.cloud-liu-candidate {
  display: inline-block;
}
