<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>雲蝦米</title>
</head>
<body>
  <h1>雲蝦米</h1>
  <h2>安裝</h2>
  請把這個連結拖到書籤列:
  <a href='javascript:var host="https://dl.dropboxusercontent.com/u/260733006";var s1=document.createElement("script");var c1=document.createElement("link");s1.setAttribute("src",host+"/static/js/cliu-loader.js");c1.setAttribute("href",host+"/static/css/cloud-liu.css");c1.setAttribute("rel","stylesheet");document.body.appendChild(s1);document.head.appendChild(c1);'>雲蝦米</a>

  <br />
  <h2>測試區</h2>
  <textarea name="name" rows="8" cols="40"></textarea>
</body>
</html>
