<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>雲蝦米 alpha</title>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47158795-2', 'cloud-liu.herokuapp.com');
  ga('send', 'pageview');
  </script>
</head>
<body>
  <h1>雲蝦米 alpha</h1>
  <p>不用安裝就可以使用的嘸蝦米輸入法!</p>
  <h2>作者</h2>
  <p><a href="http://azhuang.me">AZ Huang</a></p>
  <h2>安裝</h2>
  <p>請把這個連結拖到書籤列:</p>
  <a href='javascript:(function load() {var host="{{ host }}";var s1=document.createElement("script");var c1=document.createElement("link");s1.setAttribute("src",host+"/static/js/cliu-loader.js");c1.setAttribute("href",host+"/static/css/cloud-liu.css");c1.setAttribute("rel","stylesheet");document.body.appendChild(s1);document.head.appendChild(c1);})();'>雲蝦米</a>

  <h2>使用方式</h2>
  <ul>
    <li>第一次載入的時候會很慢，因為有8MB的資料要下載。不過接下來因為browser會有快取所以就會快很多了!</li>
    <li>在任何一個頁面按下那個書籤就會載入雲蝦米，載入成功後會出現"等待輸入"字樣，接著就可以開始輸入了。</li>
    <li>按下"嘸"字或是 Ctrl + Shift 可以切換英文輸入</li>
  </ul>
  <h2>測試區</h2>
  <textarea name="name" rows="8" cols="40"></textarea>
</body>
</html>
