<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Test</title>
  <script src="/static/js/jquery-1.10.2.min.js"></script>
  <script src="/static/js/jquery-textrange.min.js"></script>
  <script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="/static/js/cloud-liu.js"></script>

  <link rel="stylesheet" href="/static/css/cloud-liu.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div class="cloud-liu-outer">
    <div class="cloud-liu-preedit"></div>
    <div class="cloud-liu-candidates"></div>
  </div>
  <textarea name="Name" rows="8" cols="40"></textarea>
  <br />
  <input type="text" name="some_name" value="">
</body>
</html>
